/* index.css */
:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ff0000;
  text-decoration: inherit;
}
a:hover {
  color: #d40000;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff0000;
}
button:focus,
button:focus-visible {
  outline: 4px auto #ff0000;
}

/* Hapus semua preferensi dark mode karena kita hanya pakai light theme seperti screenshot */
